//===================MOVIES======================
.movies__section {
  padding-top: 20px;
  padding-bottom: 40px;

  @media screen and (min-width: 640px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.movies {
  display: grid;
  width: 100%;
  margin: 0 auto;

  @media screen and (min-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}


///________________Маріна
.movies__item{
 opacity: 0;
  transform: scale(.5);
}

.movies__item.observe {
  transform: scale(1);
 opacity: 1;
  width: 274px;
  height: 439px;
  transition: opacity linear 400ms,
transform ease-in-out 400ms;
 
}

///____________________________________



//===============FONTS================
.movie__card {
  border-radius: 7px;
  font-family: $mainFont;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: $txtColorWhite;

  padding: 5px;

  -webkit-transition: 500ms ease-in-out; /* Safari and Chrome */
  -moz-transition: 500ms ease-in-out; /* Firefox 4 */
  -o-transition: 500ms ease-in-out; /* Opera */
  transition: 500ms ease-in-out; /* стандарт */

  @media screen and (min-width: 640px) {
    margin-bottom: 0;
  }

  &:hover,
  :focus,
  :active {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0px 0px 40px $genreColor, 0px 1px 10px rgb(252, 229, 22),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 7px;

    transition-property: all;
    transition-duration: 850ms;
    transition-timing-function: ease-out;
    transition-delay: 300ms;
    animation-direction: alternate;

    @media screen and (min-width: 640px) {
      transform: scale(1.1);
      border-radius: 7px;
      box-shadow: 0px 0px 40px $genreColor, 0px 1px 10px rgb(252, 229, 22),
        0px 2px 2px rgba(0, 0, 0, 0.12);
      font-size: 25px;
      padding-bottom: 5px;
    }
  }
}
//Маріна вклинилась______
.movies__item .movie__img{
  background: url(../images/kamera-template.jpg);
  background-size: contain;
}


.movie__img {

width: 100%; //Маріна
min-height: 396px; //Маріна
// height: 100%; //Тарас
//____________________________
// max-width: 100%; //Тарас
//_______________________

  
  border-radius: 7px;
  overflow: hidden;
  //   max-height: 398px; //если пытаюсь зафиксировать высоту для выравнивания всех карточек,
  //   object-fit: cover; //то некорректно расширяет изображения на планшете и мобиле
}

.movie__name {
  color: $txtColorDark;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  text-transform: uppercase;
}

.movie__genre,
.movie__year {
  color: $genreColor;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
}

.movie__year::before {
  content: '|';
  width: 1px;
  height: 11px;
  margin-right: 2px;
  color: $genreColor;
}

.movie__label {
  margin-top: 10px;
}

.spinner__centered {
  margin: 0 auto;
}

.d-none {
  display: none !important;
}
