.footer {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: $footer-background-color;
  color: $footer-text-color;
  width: 100%;
  font-size: 16px;
  line-height: 1.19;
  font-style: normal;
  font-weight: normal;
  // margin: 0, auto;
  padding-top: 29px;
  padding-bottom: 30px;
  &__rights {
    margin: 0;
  }
  &__info {
    margin-left: 4px;
  }
  &__img {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
  }
  #heart {
    width: 20px;
    height: 18px;
  }

  &__button {
    text-decoration-line: underline;
    cursor: pointer;
    border: none;
    color: inherit;
  }
  &__button:hover {
    color: $genreColor;
  }
  @media screen and (max-width: 767px) {
    font-size: 14px; //только в моб.версии
    line-height: 1.14; //только в моб.версии
    &__rights {
      margin-bottom: 10px; //только в моб.версии
    }
  }
  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 28px;
    &__box {
      display: flex;
      align-items: center;
    }
  }
}
