.header{
  width: 100%;
  position: relative;
}
.header__main {
  display: none;
  padding: 42px 0; 

  position: relative;
  animation: 0.3s ease-in-out;
background-color: $txtColorDark;
  color: $txtColorWhite;
  min-height: 230px;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(./../images/mobile/header-home-mob@1x.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(./../images/mobile/header-home-mob@2x.png);
  }

  @media screen and(min-width: map-get($breakpoints, mobile)+20) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(./../images/tablet/header-home-tablet@1x.png);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(./../images/tablet/header-home-tablet@2x.png);
    }
  }

  @media screen and(min-width: map-get($breakpoints, tablet)+50) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(./../images/desktop/header-home-desk@1x.png);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(./../images/desktop/header-home-desk@2x.png);
    }
  }
}
.header__container {
  @extend .container;
  font-weight: 500;
  font-size: 12px;
}
.header__top {
  display: flex;

  justify-content: space-between;
  align-items: flex-end;
}
.logo__link {
  @extend .link;

  display: flex;
  align-items: center;
  column-gap: 10px;

  margin-right: 15px;
}
.logo__icon {
  width: 24px;
  height: 24px;
}

.logo__txt {
  @media screen and(max-width: map-get($breakpoints, mobile)+10) {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }

  font-size: 30px;
  line-height: 1.17;
}
.nav {
  display: flex;
  align-items: center;
  width: 100%;
  
  max-width: 180px;
  justify-content: space-between;
  column-gap: 10px;
}

.log_in__button { 
  @extend .btn;
 @extend .nav__btn;
}
.nav__btn {
  @extend .btn;
  position: relative;
  color: $txtColorWhite;
  line-height: 1.17;
  background: none;
  text-transform: uppercase;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -3px;

    width: 0;
    height: 3px;
    background-color: $genreColor;

    transition: width $timing-function $transition-duration;
  }

  &:hover,
  &:focus {
    &::after {
      width: 100%;
    }
  }

  &:disabled{
   color: darken($txtColorWhite, $amount: 50%);
   pointer-events: none;
  }
}
.nav__btn.current::after,
.log_in__button.current::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -3px;

  width: 100%;
  height: 3px;
  background-color: $genreColor;
}

.search {
  margin: 38px auto 0 auto;
  width: 100%;
  max-width: 336px;
  display: flex;
  align-items: flex-start;
  border-bottom: solid 0.5px white;
}
.search__input {
  width: 100%;
  background-color: transparent;
  border: none;
  height: 20px;
  padding: 0;
  color: $txtColorWhite;
  outline: none;

  font-size: 14px;
  line-height: 1.14;
  &::placeholder {
    color: $txtColorWhite;
  }
}
.search__btn {
  @extend .btn;
  background-color: transparent;
}
.search__btn-icon {
  width: 12px;
  height: 12px;
}

.header-lib {
  display: none;

 position: relative;
 animation: 0.3s ease-in-out;

  padding: 46px 0;
  background-color: $txtColorDark;
  color: $txtColorWhite;
  min-height: 230px;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/mobile/header-library-mob.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/mobile/header-library-mob@2x.png);
  }

  @media screen and(min-width: map-get($breakpoints, mobile)+20) {
    padding: 41px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/tablet/header-library-tablet@1x.png);

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/tablet/header-library-tablet@2x.png);
    }
  }

  @media screen and(min-width: map-get($breakpoints, tablet)+50) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/desktop/header-library-desk@1x.png);

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/desktop/header-library-desk@2x.png);
    }
  }
}

.nav.nav--lib{
max-width: 143px;
}
.header-lib__btn-set {
  display: flex;
  justify-content: center;
  column-gap: 20px;

  @media screen and (min-width: map-get($breakpoints, tablet)) {
    column-gap: 15px;
  }
}
.header-lib__btn {
  @extend .btn;
  margin-top: 49px;

  width: 100%;
  max-width: 130px;
  min-height: 30px;
  

  line-height: 1.33;
  text-transform: uppercase;
  color: $txtColorWhite;


  border-radius: 5px;
  background-color: transparent;
  border: solid 1px $txtColorWhite;


  transition: background-color $timing-function $transition-duration,
    border-color $timing-function $transition-duration,
    box-shadow $timing-function $transition-duration;

  @media screen and (min-width: 250px) {
    min-height: 44px;
  }

  @media screen and (min-width: map-get($breakpoints, tablet)) {
    max-width: 136px;
  }
}

.header-lib__btn:hover,
.header-lib__btn:focus {
  outline: none;
  background-color: $genreColor;
  border: solid 1px $genreColor;
  box-shadow: (0px 8px 43px rgba(255, 107, 1, 0.6));
}

.header-lib__btn:active {
  outline: none;
  background-color: #973d00;
  border: solid 1px #973d00;
  box-shadow: (0px 8px 43px rgba(255, 107, 1, 0.6));
}

.header-lib__btn.current{
    background-color: $genreColor;
    border: solid 1px $genreColor;
   box-shadow: (0px 8px 43px rgba(255, 107, 1, 0.6)); 
}

.slide.active,
.slide.next {
  display: block;
  width: 100%;
}

.slide.next {
  position: absolute;
  top: 0;
}

.to-left {
  animation-name: left;
}

.from-right {
  animation-name: right;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

@keyframes left {
  from {
    left: 0;
  }

  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }

  to {
    left: 0;
  }
}


