.login__section {
  @extend .container;
  width: 100%;
  text-align: center;
}

.login__close_btn {
  @extend .btn;
  width: 16px;
  height: 16px;
  background: none;
  margin-left: 150px;
}

.login__close_icon {
  stroke: $txtColorWhite;
}

.login__form {
  border-bottom: solid 0.5px white;
  width: 150px;
  margin: auto;
}

.login__form_hidden {
  border-bottom: none;
  width: 150px;
  margin: auto;
}

.login__input {
  min-width: 150px;
  background-color: transparent;
  border: none;
  height: 20px;
  padding: 0;
  color: $txtColorWhite;
  outline: none;

  font-size: 14px;
  line-height: 1.14;
  &::placeholder {
    color: $txtColorWhite;
  }
}

.login__accept_btn {
  margin-top: 10px;
  background: $genreColor;
  border-radius: 5px;
  font-family: $mainFont;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $txtColorWhite;
}

.login__greetings {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  font-family: $mainFont;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.75;
  color: rgb(21, 221, 21);

  @media screen and (max-width: 767px) {
    transform: translate(50%, 100%);
  }
}
