// Здесь переменные
$txtColorDark: #000000;

$footer-text-color: #545454;
$footer-background-color: #f7f7f7;

$mainFont: Roboto, Arial;

$breakpoints: (
  mobile: 420px,
  tablet: 768px,
  laptop: 1024px,
);
