// Здесь переменные
$txtColorDark: #000000;
$txtColorWhite: #fff;
$genreColor: #FF6B08;
$txtColorGrey: #8C8C8C;

$mainFont: Roboto, Arial;

$breakpoints: (
  mobile: 420px,
  tablet: 768px,
  laptop: 1024px,
);

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 250ms;
$primery-bg-color: #ffffff;
$accent-color: rgba(255, 107, 1, 1);



