<div class="backdrop is-hidden" data-backdrop>
  <div class="modal-footer">
    <h2 class="modal-footer__name-team">The Great 8</h2>
    <ul class="team-list list">
      <li class="team-list__item">
        <article class="team">
          <div class="team__box-image">
            <img class="team__image" src="./images/team/oleg.jpg" alt="Oleg Bondarenko" />
            <div class="team__overlay">
              <p class="team__position">
                Team Lead, development of user login logic and design, saving information about
                watched films and films in the queue
              </p>
            </div>
          </div>
          <div class="team__thumb">
            <h3 class="team__name">Oleg Bondarenko</h3>
            <ul class="network-list list">
              <li class="network-list__item">
                <a
                  class="link network-list__link"
                  href="https://www.linkedin.com/in/olegbondarenko51b7ba4b/"
                  target="_blank"
                  rel="noopener noreferre"
                >
                  <svg class="network-list__icon" width="20px" height="20px">
                    <use href="./images/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="network-list__item">
                <a
                  class="link network-list__link"
                  href="https://github.com/Telekaster"
                  target="_blank"
                  rel="noopener noreferre"
                >
                  <svg class="network-list__icon" width="20px" height="20px">
                    <use href="./images/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </article>
      </li>
      <li class="team-list__item">
        <article class="team">
          <div class="team__box-image">
            <img class="team__image" src="./images/team/anna.jpg" alt="Anna Mitina" />
            <div class="team__overlay">
              <p class="team__position">Worked on ...</p>
            </div>
          </div>
          <div class="team__thumb">
            <h3 class="team__name">Anna Mitina</h3>
            <ul class="network-list list">
              <li class="network-list__item">
                <a
                  class="link network-list__link"
                  href="#"
                  target="_blank"
                  rel="noopener noreferre"
                >
                  <svg class="network-list__icon" width="20px" height="20px">
                    <use href="./images/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="network-list__item">
                <a
                  class="link network-list__link"
                  href="#"
                  target="_blank"
                  rel="noopener noreferre"
                >
                  <svg class="network-list__icon" width="20px" height="20px">
                    <use href="./images/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </article>
      </li>
      <li class="team-list__item">
        <article class="team">
          <div class="team__box-image">
            <img class="team__image" src="./images/team/marina.jpg" alt="Marina Tripetska" />
            <div class="team__overlay">
              <p class="team__position">Header? ....</p>
            </div>
          </div>
          <div class="team__thumb">
            <h3 class="team__name">Marina Tripetska</h3>
            <ul class="network-list list">
              <li class="network-list__item">
                <a
                  class="link network-list__link"
                  href="https://www.linkedin.com/in/maryna-tripetska-682a48184/"
                  target="_blank"
                  rel="noopener noreferre"
                >
                  <svg class="network-list__icon" width="20px" height="20px">
                    <use href="./images/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="network-list__item">
                <a
                  class="link network-list__link"
                  href="https://github.com/MarinaTripetska"
                  target="_blank"
                  rel="noopener noreferre"
                >
                  <svg class="network-list__icon" width="20px" height="20px">
                    <use href="./images/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </article>
      </li>
      <li class="team-list__item">
        <article class="team">
          <div class="team__box-image">
            <img class="team__image" src="./images/team/evgeniya.jpg" alt="Evgeniya Barabash" />
            <div class="team__overlay">
              <p class="team__position">
                Movie modal window, and watch trailer for one click, switch-theme
              </p>
            </div>
          </div>
          <div class="team__thumb">
            <h3 class="team__name">Evgeniya Barabash</h3>
            <ul class="network-list list">
              <li class="network-list__item">
                <a
                  class="link network-list__link"
                  href="https://www.linkedin.com/in/evgeniya-barabash-518988211/"
                  target="_blank"
                  rel="noopener noreferre"
                >
                  <svg class="network-list__icon" width="20px" height="20px">
                    <use href="./images/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="network-list__item">
                <a
                  class="link network-list__link"
                  href="https://github.com/EvgeniyaBarabash"
                  target="_blank"
                  rel="noopener noreferre"
                >
                  <svg class="network-list__icon" width="20px" height="20px">
                    <use href="./images/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </article>
      </li>
      <li class="team-list__item">
        <article class="team">
          <div class="team__box-image">
            <img class="team__image" src="./images/team/taras.jpg" alt="Taras Demchenko" />
            <div class="team__overlay">
              <p class="team__position">Worked on?</p>
            </div>
          </div>
          <div class="team__thumb">
            <h3 class="team__name">Taras Demchenko</h3>
            <ul class="network-list list">
              <li class="network-list__item">
                <a
                  class="link network-list__link"
                  href="https://www.linkedin.com/in/taras-demchenko-77b80a145/"
                  target="_blank"
                  rel="noopener noreferre"
                >
                  <svg class="network-list__icon" width="20px" height="20px">
                    <use href="./images/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="network-list__item">
                <a
                  class="link network-list__link"
                  href="https://github.com/Meelenych"
                  target="_blank"
                  rel="noopener noreferre"
                >
                  <svg class="network-list__icon" width="20px" height="20px">
                    <use href="./images/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </article>
      </li>
      <li class="team-list__item">
        <article class="team">
          <div class="team__box-image">
            <img class="team__image" src="./images/team/tamara.jpg" alt="Tamara Glushchenko" />
            <div class="team__overlay">
              <p class="team__position">Footer, modal window of project team</p>
            </div>
          </div>
          <div class="team__thumb">
            <h3 class="team__name">Tamara Glushchenko</h3>
            <ul class="network-list list">
              <li class="network-list__item">
                <a
                  class="link network-list__link"
                  href="https://www.linkedin.com/feed/"
                  target="_blank"
                  rel="noopener noreferre"
                >
                  <svg class="network-list__icon" width="20px" height="20px">
                    <use href="./images/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="network-list__item">
                <a
                  class="link network-list__link"
                  href="https://github.com/gluschenkotoma"
                  target="_blank"
                  rel="noopener noreferre"
                >
                  <svg class="network-list__icon" width="20px" height="20px">
                    <use href="./images/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </article>
      </li>
      <li class="team-list__item">
        <article class="team">
          <div class="team__box-image">
            <img class="team__image" src="./images/team/julia.jpg" alt="Julia Kulias" />
            <div class="team__overlay">
              <p class="team__position">Worked on?</p>
            </div>
          </div>
          <div class="team__thumb">
            <h3 class="team__name">Julia Kulias</h3>
            <ul class="network-list list">
              <li class="network-list__item">
                <a
                  class="link network-list__link"
                  href="#"
                  target="_blank"
                  rel="noopener noreferre"
                >
                  <svg class="network-list__icon" width="20px" height="20px">
                    <use href="./images/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="network-list__item">
                <a
                  class="link network-list__link"
                  href="#"
                  target="_blank"
                  rel="noopener noreferre"
                >
                  <svg class="network-list__icon" width="20px" height="20px">
                    <use href="./images/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </article>
      </li>
      <li class="team-list__item">
        <article class="team">
          <div class="team__box-image">
            <img class="team__image" src="./images/team/liliya.jpg" alt="Liliya Yavorskaya" />
            <div class="team__overlay">
              <p class="team__position">Worked on?</p>
            </div>
          </div>
          <div class="team__thumb">
            <h3 class="team__name">Liliya Yavorskaya</h3>
            <ul class="network-list list">
              <li class="network-list__item">
                <a class="link network-list__link" href="" target="_blank" rel="noopener noreferre">
                  <svg class="network-list__icon" width="20px" height="20px">
                    <use href="./images/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="network-list__item">
                <a
                  class="link network-list__link"
                  href="https://github.com/Leila-2"
                  target="_blank"
                  rel="noopener noreferre"
                >
                  <svg class="network-list__icon" width="20px" height="20px">
                    <use href="./images/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </article>
      </li>
    </ul>
    <button type="button" class="modal-footer__btn-close" data-modal-close>
      <svg class="modal-footer__icon" width="30" height="30">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>
</div>
