<header class="header">
  <div class="header__container">
    <div class="header__top">
      <a href="" class="logo logo__link">
        <svg class="logo__icon">
          <use href="./images/sprite.svg#icon-film"></use>
        </svg>
      </a>
      <nav class="nav">
        <a class="nav__link" href="#">home</a>
        <a class="nav__link" href="#">my library</a>
      </nav>
    </div>
    <form action="search">
      <input class="search__input" type="text" placeholder="Search" />
      <button type="submit" class="search__btn">
        <svg class="search__btn-icon">
          <use href="./images/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </form>
  </div>
</header>
