<!-- <picture>
  <source
    srcset="./images/desktop/technocrack@1x.jpg 1x, ./images/desktop/technocrack@2x.jpg 2x"
    media="(min-width: 1200px)"
    type="image/jpeg"
  />
  <source
    srcset="./images/tablet/technocrack@1x.jpg 1x, ./images/tablet/technocrack@2x.jpg 2x"
    media="(min-width: 768px)"
    type="image/jpeg"
  />
  <source
    srcset="./images/mobile/technocrack@1x.jpg 1x, ./images/mobile/technocrack@2x.jpg 2x"
    media="(max-width: 767.98px)"
    type="image/jpeg"
  />
</picture> -->

<!-- ================================================= -->

<div class="container">
  <ul class="movies">
    <li class="movies__item">
      <div class="movie__card">
        <img src="./images/sampleMOB.jpg" alt="" />

        <div class="movie__label">
          <h3 class="movie__title">Greyhound</h3>
          <p class="movie__genre">Drama, Action <span class="movie__year">2020</span></p>
        </div>
      </div>
    </li>

    <li class="movies__item">
      <div class="movie__card">
        <img src="./images/sampleMOB.jpg" alt="" />

        <div class="movie__label">
          <h3 class="movie__title">Greyhound</h3>
          <p class="movie__genre">Drama, Action <span class="movie__year">2020</span></p>
        </div>
      </div>
    </li>

    <li class="movies__item">
      <div class="movie__card">
        <img src="./images/sampleMOB.jpg" alt="" />

        <div class="movie__label">
          <h3 class="movie__title">Greyhound</h3>
          <p class="movie__genre">Drama, Action <span class="movie__year">2020</span></p>
        </div>
      </div>
    </li>

    <li class="movies__item">
      <div class="movie__card">
        <img src="./images/sampleMOB.jpg" alt="" />

        <div class="movie__label">
          <h3 class="movie__title">Greyhound</h3>
          <p class="movie__genre">Drama, Action <span class="movie__year">2020</span></p>
        </div>
      </div>
    </li>

    <li class="movies__item">
      <div class="movie__card">
        <img src="./images/sampleMOB.jpg" alt="" />

        <div class="movie__label">
          <h3 class="movie__title">Greyhound</h3>
          <p class="movie__genre">Drama, Action <span class="movie__year">2020</span></p>
        </div>
      </div>
    </li>

    <li class="movies__item">
      <div class="movie__card">
        <img src="./images/sampleMOB.jpg" alt="" />

        <div class="movie__label">
          <h3 class="movie__title">Greyhound</h3>
          <p class="movie__genre">Drama, Action <span class="movie__year">2020</span></p>
        </div>
      </div>
    </li>

    <li class="movies__item">
      <div class="movie__card">
        <img src="./images/sampleMOB.jpg" alt="" />

        <div class="movie__label">
          <h3 class="movie__title">Greyhound</h3>
          <p class="movie__genre">Drama, Action <span class="movie__year">2020</span></p>
        </div>
      </div>
    </li>

    <li class="movies__item">
      <div class="movie__card">
        <img src="./images/sampleMOB.jpg" alt="" />

        <div class="movie__label">
          <h3 class="movie__title">Greyhound</h3>
          <p class="movie__genre">Drama, Action <span class="movie__year">2020</span></p>
        </div>
      </div>
    </li>

    <li class="movies__item">
      <div class="movie__card">
        <img src="./images/sampleMOB.jpg" alt="" />

        <div class="movie__label">
          <h3 class="movie__title">Greyhound</h3>
          <p class="movie__genre">Drama, Action <span class="movie__year">2020</span></p>
        </div>
      </div>
    </li>
  </ul>
  <div id="pagination" class="tui-pagination"></div>
</div>
