<div class="container">
  <section class="movies__section">
    <h3 class="lib-clear-txt" id="libClearTxt"></h3>
    <ul class="movies">
      <!-- <li class="movies__item">
      <div class="movie__card">
        <img src="./images/sampleMOB.jpg" alt="" />

        <div class="movie__label">
          <h3 class="movie__title">Greyhound</h3>
          <p class="movie__genre">Drama, Action <span class="movie__year">2020</span></p>

  <section class="movies__section">
    <ul class="movies">
      <li class="movies__item">
        <div class="movie__card">
          <img class="movie__img" src="./images/sampleMOB.jpg" alt="" />

          <div class="movie__label">
            <h3 class="movie__name">Greyhound</h3>
            <p class="movie__genre">Drama, Action <span class="movie__year">2020</span></p>
          </div>

        </div>
      </li>

      <li class="movies__item">
        <div class="movie__card">
          <img class="movie__img" src="./images/sampleMOB.jpg" alt="" />

          <div class="movie__label">
            <h3 class="movie__name">Greyhound</h3>
            <p class="movie__genre">Drama, Action <span class="movie__year">2020</span></p>
          </div>
        </div>
      </li>

      <li class="movies__item">
        <div class="movie__card">
          <img class="movie__img" src="./images/sampleMOB.jpg" alt="" />

          <div class="movie__label">
            <h3 class="movie__name">Greyhound</h3>
            <p class="movie__genre">Drama, Action <span class="movie__year">2020</span></p>
          </div>
        </div>
      </li>

      <li class="movies__item">
        <div class="movie__card">
          <img class="movie__img" src="./images/sampleMOB.jpg" alt="" />

          <div class="movie__label">
            <h3 class="movie__name">Greyhound</h3>
            <p class="movie__genre">Drama, Action <span class="movie__year">2020</span></p>
          </div>
        </div>
      </li>

      <li class="movies__item">
        <div class="movie__card">
          <img class="movie__img" src="./images/sampleMOB.jpg" alt="" />

          <div class="movie__label">
            <h3 class="movie__name">Greyhound</h3>
            <p class="movie__genre">Drama, Action <span class="movie__year">2020</span></p>
          </div>
        </div>
      </li>

      <li class="movies__item">
        <div class="movie__card">
          <img class="movie__img" src="./images/sampleMOB.jpg" alt="" />

          <div class="movie__label">
            <h3 class="movie__name">Greyhound</h3>
            <p class="movie__genre">Drama, Action <span class="movie__year">2020</span></p>
          </div>
        </div>
      </li>

      <li class="movies__item">
        <div class="movie__card">
          <img class="movie__img" src="./images/sampleMOB.jpg" alt="" />

          <div class="movie__label">
            <h3 class="movie__name">Greyhound</h3>
            <p class="movie__genre">Drama, Action <span class="movie__year">2020</span></p>
          </div>
        </div>
      </li>

      <li class="movies__item">
        <div class="movie__card">
          <img class="movie__img" src="./images/sampleMOB.jpg" alt="" />

          <div class="movie__label">
            <h3 class="movie__name">Greyhound</h3>
            <p class="movie__genre">Drama, Action <span class="movie__year">2020</span></p>
          </div>
        </div>
      </li>

      <li class="movies__item">
        <div class="movie__card">
          <img class="movie__img" src="./images/sampleMOB.jpg" alt="" />

          <div class="movie__label">
            <h3 class="movie__name">Greyhound</h3>
            <p class="movie__genre">Drama, Action <span class="movie__year">2020</span></p>
          </div>
        </div>
      </div>
    </li>-->
    </ul>
    <div id="pagination" class="tui-pagination"></div>
  </section>
  <a class="button_UP" href="#header" aria-label="back to top">
    <svg width="50px" height="50px">
      <use href="./images/sprite.svg#icon-circle-up"></use>
    </svg>
  </a>
</div>
